body{
    background-color: #191B1C;
    color: white;
}
.custom-textarea{
   background-color: transparent;
   color: white;
   border: none;
   border-radius: 0;
   height: auto; /* Permite ajustar la altura automáticamente */
   resize: none;
   overflow: hidden; /* Esconde el scroll interior */

}
.custom-textarea::placeholder {
    color: white !important;
}

.form-floating{
margin-bottom: 10px; /* Reduce el margen inferior del form-floating */
    padding: .3rem;
}
.form-floating > .custom-textarea:focus {
    background-color: #232628;
    color: white;
    outline: none;
    box-shadow: none;
    border-bottom: #66afe9; /* Color del borde al enfocar */
}

.chat-area{
    margin-top:40px;
      word-wrap: break-word; /* Permite el ajuste de palabras largas */
        word-break: break-all; /* Permite el corte de palabras largas */
        white-space: pre-wrap; /* Conserva los espacios y saltos de línea */
        max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
}
#sendButton {
    height: auto;
    width: auto;
    padding: .375rem .75rem;
    white-space: nowrap;
}
@media (max-width: 450px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-floating, .custom-textarea {
        width: 100% !important;
    }

    #sendButton {

        width: 8rem;
    }
}